<html>
    <head>
        <title>Coursework</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='the.css') }}">
    </head>
    <body>
        
        <ul>
            <li><a href="http://0.0.0.0:5000">Home</a></li>
            <li class="dropdown">
                <a href="http://0.0.0.0:5000/strat" class="dropbtn">Stratocaster</a>
                <div class="dropdown-content">
                    <a href="http://0.0.0.0:5000/strat">Stratocaster</a>
                    <a href="http://0.0.0.0:5000/strat">Stratocaster</a>
                    <a href="http://0.0.0.0:5000/strat">Stratocaster</a>
                </div>
            </li>
            <li><a href="http://0.0.0.0:5000/les-paul">Les Paul</a></li>
        </ul>
              
        <div style="padding:20px;margin-top:30px;background-color:#1abc9c;height:150px;">
            <h1>Master template for all guitars</h1>
             
    </body>
</html>
