<html>
    <head>
        <title>Coursework</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='sthe.css') }}">
    </head>
    <body>

        <ul>
            <li><a class="active" href="#home">Home</a></li>
            <li><a href="strat">Stratocaster</a></li>
            <li><a href="les-paul">Les Paul</a></li>
            <li><a href="about">About</a></li>
        </ul>

        <div style="padding:20px;margin-top:30px;background-color:#1abc9c;height:1500px;">
            <h1>Fixed top Navigation</h1>

    </body>
<html>
