{% extends "guitartemplate.html" %}
{% block content %}

    <h1>Leo Fender</h1>

    <p>Clarence Leonidas "Leo" Fender was an american inventor who founded Fender Electric Instrument Manufacturing Company,
    or Fender for short. In January 1965 he sold the company to CBS and later founded two other musical instrument companies.
    The guitars, bass guitars and amplifiers he disigned from the 1940s onward are still widely used: 
    <a href="http://0.0.0.0:5000/Telecaster">Telecaster</a>(1950) was the first mass-produced solid-body electric guitar
    <a href="http://0.0.0.0:5000/Stratocaster">Stratocaster</a>(1954) is among the worlds most iconic electric guitar.
    Leo was inducted into the Rock and roll Hall of fame in 1992 - a unique achievment given that he never learned to play the instruments that he made a career of building.</p>
{% endblock %}
