<!--state where said code is going to load into-->
{% extends "guitartemplate.html" %}
<!--start of content-->
{% block content %}
    <!--title-->
    <h1>Les-Paul</h1>

    <!--display img-->
    <img src="{{url_for('static', filename='images/lespaul.png')}}" width=100%>

    <!--small descriptive paragraph-->
    <p>The Gibson Les-Paul is a solid-body electric guitar that was first sold by Gibson in 1952.
    The Les-Paul was designed by Gibson president Ted McCarty, factory manager John Huis and their team, along with guitarist/inverntor <a href="http://0.0.0.0:5000/LesPaul">Les Paul</a>.
    The Les-Paul was originally offered with a gold finish and two P-90 pickups. In 1957 humbucker pickups were added, along with sunburst finishes in 1958. the sunburst 1958-1960 Les-Paul was considered a failure, with low production and sales. For 1961, the Les-Paul was redesigned into what is now known an the Gibson SG. 
    The traditional single cutaway, carved top bodystyle was re-introduced in 1968. the Les-Paul has been continually produced in countless versions and editions since then.
    Along with Fenders Telecaster and Stratocaster, it was one of the first mass-produced electric solid-body guitars.
    Les-Pauls have been used in many genres, including rock, country, pop, soul,rhythm and blues, blues, jazz,reggae, punk and heavy metal.
    <br>
    There have been many big names using Les-Pauls such as Les Paul, Billie Joe Armstrong, Slash, Eric Clapton, Bob Dylan and many many more.</p>
<!--end of content-->
{% endblock %}
