<!--state where said code is going to load into-->
{% extends "guitartemplate.html" %}
<!--start of content-->
{% block content %}
    <!--title-->
    <h1>Les Paul</h1>

    <!--display img-->
    <img src="{{url_for('static', filename='images/Les-Paul.png')}}" width="150" align="right">

    <!--small descriptive paragraph-->
    <p>Lester Willian Polsfuss known an Les Paul was an american jazz, country and blues guitarist, songwriter and inverntor. He was 
    on if the pioneers of the solid-body electric guitar. Paul taught himself how to play guitar and while he was mainly known for jazz and popular music he had an early career in country music.
    Among his many honours Paul is one of a handful of artists with a permanent stand alone exhibit in the Rock and Roll Hall of Fame. He is prominently named by the music museum on its website as the architect
    and a key inductee with Sam Phillips and Alan Freed. Les Paul is the only person to be included in both the Rock and Roll Hall of Fame and the National Inventors Hall of Fame.</p>
<!--end of content-->
{% endblock %}
