{% extends "guitartemplate.html" %}
{% block content %}

    <h1>SG</h1>

    <img src="{{url_for('static', filename='images/SG.png')}}" width=100%>

    <p>The Gibson SG is a solid-body electric guitar model that was introduced in 1961(as a Gibson Les-Paul)
    by Gibson, and remains in production today with many variations on the initil design avaliable.
    The SG Standard in Gibson's best-elling model of all time. When Gibson relesed the first SG Gibson
    they thinned the body, added a double cut away, moved the neck up and thinned it advertising it as the "fastest neck in the world".
    Les Paul himself however didnt like the redesign of his guitar so asked for his name to be taken off the guitar.</p>
{% endblock %}
