<html>
    <head>
        <title>Coursework</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='sthe.css') }}">
    </head>
    <body>
        
        <ul>
            <li><a class="active" href="http://0.0.0.0:5000">Home</a></li>
            <li><a href="http://0.0.0.0:5000/strat">Stratocaster</a></li>
            <li><a href="http://0.0.0.0:5000/les-paul">Les Paul</a></li>
        </ul>
              
        <div style="padding:20px;margin-top:30px;background-color:#1abc9c;height:150px;">
            <h1>strats are bae</h1>
             
    </body>
</html>
