<!--state where said code is going to load into-->
{% extends "guitartemplate.html" %}
<!--start of content-->
{% block content %}
    <!--title-->
    <h1>Stratocaster</h1>

    <!--display img-->
    <img src="{{url_for('static', filename='images/strat.png')}}" width=100%>

     <!--small descriptive paragraph-->
    <p>The Fender Stratocaster is a model of electric guitar designed in 1954 by 
    <a href="http://0.0.0.0:5000/Leo-fender">Leo Fender</a>, Bill Carson, George Fullerton
    and Freddie Taveres.<br><br>
    Fender has continuously manufactured the Stratocaster from 1954 to the present. it is a double cutaway guitar, with an extended to horn shape for balance.
    Along with the Gibson Les Paul, it is one of the most-often emulated electric guitar shapes.<br><br> The Stratocaster is a versatile guitar, usable for all styles of complete
    music and has been used in many genres, including country, rock, pop, folk, soul, rhythm and blues, blues, jazz, punk and heavy metal.
    <br><br>
    There have been many big names using Stratocasters such as Eric Clapton, Jeff Beck, David Gilmour, Jimi Hendrix, John Lennon and many many more.</p>
<!--end of content-->
{% endblock %}
